.generalInfo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    background-color: blue;
    justify-content: start;
    align-items: center;
}
.generalInfo h3.subtitle {
    color: aliceblue;
}